dataset/*
dataset_mini/*
env.yml
wandb/*
key.py
model
__pycache__/*
saved_dataset_mini/*
saved_dataset/*
training_job.sh
cs_research.out
vivit_saved_dataset_mini/*
vivit_saved_dataset/*
convnext_saved_dataset_mini/*
convnext_saved_dataset/*
vivit_model_checkpoints/*
convnext_model_checkpoints/*